In [1]:
import pandas as pd

In [2]:
acc=pd.read_csv('/content/drive/MyDrive/Abc/preppin_w9/Account Information.csv')
tr_dt=pd.read_csv('/content/drive/MyDrive/Abc/preppin_w9/Transaction Detail.csv')
tr_pt=pd.read_csv('/content/drive/MyDrive/Abc/preppin_w9/Transaction Path.csv')

In [3]:
tr_dt=tr_dt[tr_dt['Cancelled?']=='N']

In [4]:
tr_pt=tr_pt.rename(columns={'Account_To':'Account To','Account_From':'Account From'})

In [5]:
tr=pd.merge(tr_pt,tr_dt,how='inner',on='Transaction ID')

In [ ]:
tr_out=tr[['Account From','Transaction Date','Value']]
tr_out['Value']=-(tr_out['Value'])
tr_inc=tr[['Account To','Transaction Date','Value']]
tr_out=tr_out.rename(columns={'Account From':'Account Number','Transaction Date':'Balance Date'})
tr_inc=tr_inc.rename(columns={'Account To':'Account Number','Transaction Date':'Balance Date'})

In [7]:
acc=acc[['Account Number','Balance Date','Balance']]
acc=acc.rename(columns={'Balance':'Value'})

In [8]:
df=pd.concat([tr_inc,tr_out,acc]).reset_index()
df=df.drop(['index'],axis=1)
df=df.sort_values(['Account Number','Balance Date']).reset_index().drop('index',axis=1)

In [9]:
df['Balance']=df.groupby(['Account Number'])['Value'].cumsum()
df

       Account Number Balance Date    Value  Balance
0            10005367   2023-01-31   728.25   728.25
1            10005367   2023-02-02 -1097.60  -369.35
2            10005367   2023-02-04   144.75  -224.60
3            10005367   2023-02-04   -67.01  -291.61
4            10005367   2023-02-05  -108.26  -399.87
...               ...          ...      ...      ...
20373        99937043   2023-02-05    52.36   970.18
20374        99937043   2023-02-06   -92.42   877.76
20375        99937043   2023-02-09  -122.91   754.85
20376        99937043   2023-02-11  -125.33   629.52
20377        99937043   2023-02-13    75.16   704.68

[20378 rows x 4 columns]

##### ***End Of Code***