In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv('/content/drive/MyDrive/Abc/PD 2023 Wk 1 Input.csv')
data['Transaction Date'] = pd.to_datetime(data['Transaction Date'])

In [3]:
data['Bank']=data['Transaction Code'].str.split(pat='-',expand=True).get(0)
data['Transaction Date'] = data['Transaction Date'].dt.month_name()

In [4]:
data

,Transaction Code,Value,Customer Code,Online or In-Person,Transaction Date,Bank
0,DTB-716-679-576,1448,100001,2,March,DTB
1,DS-795-814-303,7839,100001,2,November,DS
2,DSB-807-592-406,5520,100005,1,July,DSB
3,DS-367-545-264,7957,100007,2,August,DS
4,DSB-474-374-857,5375,100000,2,August,DSB
...,...,...,...,...,...,...
360,DTB-116-439-102,6708,100001,1,January,DTB
361,DS-849-981-514,8500,100000,2,October,DS
362,DS-726-686-279,9455,100006,2,October,DS
363,DS-551-937-380,475,100002,1,November,DS
364,DS-976-542-770,7364,100009,1,September,DS

In [5]:
df=data[['Transaction Date','Bank','Value']]
df

    Transaction Date Bank  Value
0              March  DTB   1448
1           November   DS   7839
2               July  DSB   5520
3             August   DS   7957
4             August  DSB   5375
..               ...  ...    ...
360          January  DTB   6708
361          October   DS   8500
362          October   DS   9455
363         November   DS    475
364        September   DS   7364

[365 rows x 3 columns]

In [6]:
x=df.groupby(['Transaction Date','Bank']).sum('Value').reset_index()

In [7]:
x['Rank'] = x.groupby(['Transaction Date'])['Value'].rank(ascending=False, method='dense')
y=x.groupby(['Bank'])['Rank'].mean().round(2).reset_index()

In [8]:
x=x.merge(y,on='Bank',how='left',suffixes=('Rank', 'Avg_Rank'))
x=pd.DataFrame(x)
x=x.rename(columns={'RankRank':'Rank','RankAvg_Rank':'Avg_Rank'})
z=x.groupby('Rank')['Value'].mean().round(3).reset_index()
x=x.merge(z,on="Rank",how='left',suffixes=('Value', 'Avg_Value_per_Rank'))
x=pd.DataFrame(x)
Sol_fin=x.rename(columns={'ValueValue':'Value','ValueAvg_Value_per_Rank':'Avg_ValuePer_Rank'})

In [9]:
Sol_fin

   Transaction Date Bank  Value  Rank  Avg_Rank  Avg_ValuePer_Rank
0             April   DS  51860   1.0  1.750000          66004.417
1             April  DSB  45165   2.0  2.416667          49857.917
2             April  DTB  41572   3.0  1.833333          34359.917
3            August   DS  94774   1.0  1.750000          66004.417
4            August  DSB  28052   3.0  2.416667          34359.917
5            August  DTB  74749   2.0  1.833333          49857.917
6          December   DS  30459   3.0  1.750000          34359.917
7          December  DSB  38996   2.0  2.416667          49857.917
8          December  DTB  49318   1.0  1.833333          66004.417
9          February   DS  25526   2.0  1.750000          49857.917
10         February  DSB  21721   3.0  2.416667          34359.917
11         February  DTB  58186   1.0  1.833333          66004.417
12          January   DS  47385   2.0  1.750000          49857.917
13          January  DSB  43134   3.0  2.416667          34359.917
14          January  DTB  51726   1.0  1.833333          66004.417
15             July   DS  66656   2.0  1.750000          49857.917
16             July  DSB  70594   1.0  2.416667          66004.417
17             July  DTB  36242   3.0  1.833333          34359.917
18             June   DS  68847   1.0  1.750000          66004.417
19             June  DSB  67323   2.0  2.416667          49857.917
20             June  DTB  15671   3.0  1.833333          34359.917
21            March   DS  42417   2.0  1.750000          49857.917
22            March  DSB  38130   3.0  2.416667          34359.917
23            March  DTB  82615   1.0  1.833333          66004.417
24              May   DS  45061   2.0  1.750000          49857.917
25              May  DSB  63999   1.0  2.416667          66004.417
26              May  DTB  43963   3.0  1.833333          34359.917
27         November   DS  77846   1.0  1.750000          66004.417
28         November  DSB  37073   3.0  2.416667          34359.917
29         November  DTB  41908   2.0  1.833333          49857.917
30          October   DS  53711   2.0  1.750000          49857.917
31          October  DSB  34283   3.0  2.416667          34359.917
32          October  DTB  72769   1.0  1.833333          66004.417
33        September   DS  49398   2.0  1.750000          49857.917
34        September  DSB  42019   3.0  2.416667          34359.917
35        September  DTB  49519   1.0  1.833333          66004.417

End of code