In [1]:
import pandas as pd
import numpy as np
import datetime as dt

In [2]:
e=pd.read_csv('prepp2.csv',index_col=False)

In [3]:
d=pd.read_csv('prepp4.csv',index_col=False)

In [4]:
df=pd.merge(d,e,on=e['id'])

In [5]:
df=df.drop(['key_0','id','pupil first name', 'pupil last name', 'gender', 'Date of Birth',
       'Parental Contact Name_1', 'Parental Contact Name_2','Preferred Contact Employer', 'Parental Contact'],axis=1)

In [6]:
tra=pd.melt(df,id_vars=['Student ID'],value_name='mtra',var_name='weekday')

In [7]:
change={'car':'^Ca.*','bicycle':'^B.*','walk':'W.*','scooter':'^Sc.*','helicopter':'^He.*'}

In [8]:
tra['mtra']=tra['mtra'].replace(list(change.values()),list(change.keys()),regex=True)

In [9]:
f=pd.DataFrame(tra.groupby(['mtra','weekday'],as_index=False)['Student ID'].count())
f.columns=['Means of Travel','WeekDay','No of Trips']

In [10]:
f['Sustainable?']=f['Means of Travel'].apply(lambda x:'Not Sustainable' if (x=='Aeroplane')|(x=='Van')|(x=='car')|
                                             (x=='scooter')|(x=='helicopter') else 'Sustainable')

In [11]:
f['Trips per Day']=f['No of Trips'].groupby(f['WeekDay']).transform('sum')

In [12]:
f['% of Trips per Day']=(f['No of Trips']/f['Trips per Day']).round(2)

In [13]:
f.head(10)

,Means of Travel,WeekDay,No of Trips,Sustainable?,Trips per Day,% of Trips per Day
0,Aeroplane,F,9,Not Sustainable,1000,0.01
1,Aeroplane,M,9,Not Sustainable,1000,0.01
2,Aeroplane,Th,9,Not Sustainable,1000,0.01
3,Aeroplane,Tu,9,Not Sustainable,1000,0.01
4,Aeroplane,W,9,Not Sustainable,1000,0.01
5,Dad's Shoulders,Th,9,Sustainable,1000,0.01
6,Dad's Shoulders,Tu,15,Sustainable,1000,0.02
7,Hopped,M,3,Sustainable,1000,0.00
8,Jumped,W,3,Sustainable,1000,0.00
9,Mum's Shoulders,F,24,Sustainable,1000,0.02

##### End Of Code