In [1]:
import numpy as np
import pandas as pd

In [2]:
d1=pd.read_csv('prepp2.csv')

In [3]:
d2=pd.read_excel('PD 2022 WK 3 Grades.xlsx')

In [4]:
df=pd.merge(d1,d2,on=d2['Student ID'])

In [5]:
df=df[[ 'gender','Student ID', 'Maths','English', 'Spanish', 'Science', 'Art', 'History', 'Geography']]

In [6]:
sub=[ 'Maths','English', 'Spanish', 'Science', 'Art', 'History', 'Geography']
passed=[]
marks=[]
for x in range(len(df['Student ID'])):
    count=0
    for a in sub:
        if df[a].iloc[x]>=75:
            count=count+1
    passed.append(count)
    marks.append(df.iloc[x][sub].mean().round(1))
f={'passed':passed,'marks':marks}
f=pd.DataFrame(f)

In [7]:
df[['Passed Subjects','Students Avg Score']]=f

In [8]:
df=df[['Student ID','Passed Subjects','Students Avg Score','gender']]
df.head(10)

   Student ID  Passed Subjects  Students Avg Score  gender
0           1                6                81.3  Female
1           2                4                76.4    Male
2           3                5                80.3  Female
3           4                5                83.4    Male
4           5                6                88.0  Female
5           6                3                75.3  Female
6           7                4                81.9  Female
7           8                6                82.4    Male
8           9                5                80.6  Female
9          10                3                76.9    Male

End Of Code